{% extends 'base.html.twig' %}

{% block title %}Create Contact{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block javascripts %}
    <script>
        function getFBInformation() {
            if (!!FB && FB.getLoginStatus(function (login) {
                if (login.status === "connected") {
                    successful();
                } else {
                    FB.login(function (response) {
                        if (response.authResponse) {
                            console.log('Welcome!  Fetching your information.... ');
                            successful();
                        } else {
                            console.log('User cancelled login or did not fully authorize.');
                        }
                    });
                }
            })) ;
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '214788676142411',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.2'
            });
        };

        function successful() {
            FB.api(
                '/me',
                'GET',
                {"fields": "name,email"},
                function (response) {
                    let first_name = response.name.substr(0, response.name.indexOf(' '));
                    let last_name = response.name.substr(response.name.lastIndexOf(' ') + 1);

                    $('#form_first_name').val(first_name);
                    $('#form_last_name').val(last_name);
                    $('#form_email').val(response.email);
                }
            );
        }
    </script>
{% endblock %}

{% block body %}
    <style>
        .form-wrapper {
            min-width: 300px;
            max-width: 500px;
            margin: auto;
        }
    </style>

    <h1>Create Contact</h1>

    <div class="form-wrapper">
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form, {'attr': {'action':'create'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.contact_number, {'attr':{'oninvalid':'this.setCustomValidity("Ensure your contact number has the following format (012)3456789")'}}) }}
        {{ form_row(form.email) }}
        <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div>
        <button type="button" class="btn btn-primary" style="margin: 10px 0;" onclick="getFBInformation()">Use FB information</button>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
