{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function () {
            $('#contacts').initDataTables({{ datatable_settings(datatable) }});
        });
    </script>
{% endblock %}

{% block body %}

    <h1>Contacts</h1>
    <div id="contacts">Loading...</div>

{% endblock %}
