{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
    <style>
        .wrapper {
            min-width: 300px;
            margin: auto;
            text-align: center;
        }
    </style>

    <div class="wrapper">
        <h1>Congratulations on adding a contact</h1>
    </div>

{% endblock %}
