<html>
<head></head>
<body>
<h1>A new contact has been added</h1>
<table>
    <tbody>
    <tr>
        <td>First Name</td>
        <td>{{ contact.getFirstName() }}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{ contact.getLastName() }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ contact.getEmail() }}</td>
    </tr>
    <tr>
        <td>Contact Number</td>
        <td>{{ contact.getContactNumber() }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>